#contact {
    text-align: center;
    color: #838c95;
    margin: 60px 0;
}

#contact .title {
    color: #313131;
}

.contact-form {
    width: 60%;
    margin: 20px auto;
}

#contact .form-group {
    margin-top: 20px;
}

#contact .submit {
    border-radius: 5px;
    background-color:#414743;
    color: #fff;
}